# #? SERVER

SERVER_PORT=3000

# #? DOCKER

DOCKER_APP_PORT=3333
DOCKER_APP_EXPOSE_PORT=3000
# DOCKER_APP_VERSION=latest

# #? MYSQL

# MYSQL_TYPE=mysql
# MYSQL_USER=root
# MYSQL_PASSWORD=123456
# MYSQL_HOST=localhost
# MYSQL_PORT=3306
# MYSQL_DATABASE=ecommerce

# MYSQL_URL="${MYSQL_TYPE}://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}"

# #? MONGO

# MONGO_USERNAME=root
# MONGO_PASSWORD=root0123698745
# MONGO_PORT=27018
# MONGO_DATABASE=database-rewards
# MONGO_HOST=localhost:${MONGO_PORT}

# MONGO_URI=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@${MONGO_HOST}/${MONGO_DATABASE}?authSource=admin

# #? REDIS

# REDIS_PORT=6379

# #? APPLICATION SETTINGS
